<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="9F4A5D3E-8B2C-4E6F-A1D3-7C5E9B8A2F01">
        <Shortcut Id="ShortcutDesktop"
                  Name="Candor"
                  Description="Candor"
                  Target="[APPLICATIONFOLDER]candor.exe"
                  WorkingDirectory="APPLICATIONFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\Candor"
                       Name="DesktopShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="DesktopShortcutGroup">
      <ComponentRef Id="DesktopShortcut" />
    </ComponentGroup>
  </Fragment>
</Wix>
